RewriteEngine on

# Change wenwang.org to be your main domain.

# Change 'wenwang.org' to be the folder you will use for your main domain.
RewriteCond %{REQUEST_URI} !^/wenwang.org/

# Don't change this line.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Change 'wenwang.org' to be the folder you will use for your main domain.

# Change wenwang.org to be your main domain again.
# Change 'wenwang.org' to be the folder you will use for your main domain
# followed by / then the main file for your site, index.php, index.html, etc.
#RewriteRule ^(/wenwang.org/)?$ wenwang.org/index.php [L]
RewriteRule ^blog\/\/?(.*)$ "http\:\/\/blog\.wenwang\.org\/$1" [R=301,L]

RewriteCond %{HTTP_HOST} ^www\.wenwang\.org$
RewriteRule ^(.*)$ "http\:\/\/wenwang\.org\/$1" [R=301,L]

